@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #020817;
    position: relative;
}

.menu {
    display: none;
}

nav.show {
    left: 0;
}


@media (max-width: 568px) {
    .menu {
        display: block;
        color: #5684c4;
        position: fixed;
        left: 18px;
        top: 16px;
        z-index: 99999;
        font-size: 35px;
        cursor: pointer;
    }
}

.shopping.show {
    display: block;
}

.shopping.hidden {
    display: none;
}


nav {
    position: fixed;
    width: 130px;
    height: 100%;
    /*background-color: #fff;
    */
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 20px;
    box-shadow: 0px 2px 10px 0px #00000024;
    user-select: none;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

@media (max-width: 768px) {
    nav {
        width: 100px;
    }
}

@media (max-width: 568px) {
    nav {
        left: -100px;
    }
}



nav .icon {
    font-size: 45px;
    color: white;
    cursor: pointer;
}

@media (max-width: 568px) {
    nav .icon {
        margin-top: 25px
    }
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav ul li i {
    font-size: 30px;
    /* color: black; */
    color: white;
}

nav ul li {
    cursor: pointer;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

nav ul li a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    transition: 0.2s;
    border-radius: 5px;
}

nav ul li span {
    color: white;
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9900;
    border-radius: 50%;
    right: -12px;
    top: -6px;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a.active {
    /* background-color: #dfdfdf; */
    background-color: #1E293B;
}

nav .profile {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

nav .profile img {
    width: 100%;
    height: auto;
}

.shopping {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-left: 100px;
}



@media (max-width: 568px) {
    .shopping {
        margin-left: 0;
    }
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px;
}

.lang-and-search {
    display: flex;
    align-items: center;
}

header .search input {
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px #00000023;
    /* background-color: #fff; */
    background-color: #0f172a;
    color: white;
    position: relative;
    text-indent: 30px;
    width: 300px;
    height: 50px;
}

@media (max-width: 568px) {
    header .search input {
        width: 260px;
    }
}

header .search input::placeholder {
    color: #94A3B8;
}

header .search input:focus {
    outline: none;
}

header .search {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 30px;
}

header .search::before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    display: block;
    position: absolute;
    font-weight: 900;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    font-size: 20px;
    color: #94A3B8;
}

header .lang {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    /* background-color: #fff; */
    background-color: #0f172a;
    box-shadow: 0px 2px 10px 0px #00000024;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    margin: 0 30px 0 0;
    position: relative;
    color: #94A3B8;
}

header .lang:hover {
    background-color: #eeeeee;
}

header .lang i {
    margin-left: 10px;
}

header .lang ul {
    position: absolute;
    bottom: 0;
    /* background-color: #fff; */
    background-color: #0f172a;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px #00000024;
    padding: 20px 25px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    transition: 0.3s;
    top: -250px;
    z-index: 9999999999;
    color: #94A3B8;
}

header .lang ul li:first-child {
    margin-bottom: 10px;
}

header .lang ul li {
    padding: 10px;
    transition: 0.3s;
    border-radius: 10px;
}

header .lang ul li:hover {
    /* background-color: #dbdbdbb6; */
    background-color: #1E293B;
}

header .lang:hover ul {
    top: 0;
    bottom: 0;
}

main {
    background-color: #020817;
}

main .slider {
    width: fit-content;
    margin: 0px auto;
    margin-top: 30px;
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .slider .ads {
    border-radius: 10px;
    background: white;
    height: 300px;
    width: 750px;
    overflow: hidden;
    position: relative;
}

main .slider .ads .ad {
    position: absolute;
    left: 0;
    transition: 0.3s;
}

main .slider .bullets {
    position: absolute;
    width: fit-content;
    height: 30px;
    /* background-color: red; */
    z-index: 99;
    bottom: 16px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


main .slider .bullets li {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 20px;
    box-shadow: 2px 1px 4px black;
    cursor: pointer;
    opacity: 0.6;
}

main .slider li.active {
    opacity: 1;
}

main .shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

@media (max-width: 568px) {
    main .shop {
        padding: 0;
    }
}

main .shop .category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    user-select: none;
}

@media (max-width: 768px) {
    main .shop .category {
        flex-direction: column;
    }
}

main .shop .category li {
    margin-left: 25px;
    font-weight: 600;
    font-size: x-large;
    cursor: pointer;
    position: relative;
    /* color: #949494; */
    color: #94A3B8;
    transition: 0.3s;
}

@media (max-width: 768px) {
    main .shop .category li {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    main .shop .category li {
        font-size: large;
        text-align: center;
    }
}

main .shop .category li::before {
    position: absolute;
    content: "";
    bottom: -12px;
    width: 0;
    height: 2px;
    /* background-color: black; */
    background-color: white;
    border-radius: 15px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

main .shop .category li:hover::before,
main .shop .category li.active::before {
    width: 80%;
}

main .shop .category li:hover,
main .shop .category li.active {
    /* color: black; */
    color: white;
}

main .shop .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
    padding: 20px;
}

@media (max-width: 768px) {
    main .shop .items {
        place-items: center;
    }
}

@media (min-width: 768px) {
    main .shop .items {
        place-items: center;
    }
}

main .shop .items .item {
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 7%);
    width: fit-content;
    height: 520px;
    /* background: white; */
    background: #0f172a;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
}

main .shop .items .item .image {
    border-bottom: 1px solid #919090a3;
    background: white;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main .shop .items .item .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

main .shop .items .item .type {
    text-transform: uppercase;
    /* color: #949494; */
    color: rgba(255, 255, 255, 0.897);
    font-size: 13px;
}

main .shop .items .item .title {
    margin-top: 13px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

main .shop .items .item .rate {
    margin-top: 10px;
}

main .shop .items .item .rate ul {
    display: flex;
}

main .shop .items .item .rate ul li {
    color: #ff9900;
}

main .shop .items .item .price {
    width: 100%;
    text-align: right;
    margin: 10px 0;
    /* color: rgb(2, 187, 2); */
    color: white;
    font-weight: 700;
    font-size: 20px;
}

main .shop .items .item button {
    border: none;
    cursor: pointer;
    /* background-color: black; */
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 15px 20px;
    /* color: white; */
    color: black;
    font-weight: 700;
}

.hide {
    display: none;
}

main.hidden {
    display: none;
}

.shopping.edit {
    width: 0;
    height: 0;
}